<div class="resultsPanelWidget">
	<div class="resultsButtonGroup">
		<div data-dojo-attach-point="buttonsDiv" id="buttonsDiv"></div>
	</div>
	<div data-dojo-attach-point="gridDiv"></div>
</div>

